<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">feedback</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h2>Thank you for ordering from us!</h2>
    <h2>Your order will be delivered within 5 working days!</h2>
    <h2>
      Please deposit the desired amount of: ...euros into this bank account.
    </h2>
    <h3>BE123456789876543</h3>
  </ion-text>

  <ion-text>
    <h3>Give us feedback so we can improve!</h3>  
  </ion-text>

  <ion-item>
    <ion-label>Rating:</ion-label>
    <ion-range min="0" max="100" step="1" snaps="true" pin="true"></ion-range>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-button type="submit" expand="block" (click)="BackHome()">Home</ion-button
  >
</ion-content>
