<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating" class="custom-lable">Name</ion-label>
        <ion-input type="text" name="name" class="custom-input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adress</ion-label>
        <ion-input type="text" name="adress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" name="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Postal code</ion-label>
        <ion-input type="text" name="postalCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <ion-input type="text" name="postalCode"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" (click)="showOrderConfirmation()">Place Order</ion-button>
  </form>
</ion-content>