<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngFor="let product of cartProducts" class="product-card">
      <img [src]="product.image" alt="{{product.title}}" class="product-image">
      <h3 class="product-title">{{product.title}}</h3>
      <p class="product-price">€{{product.price}}</p>
    </div>

    <div class="total-price">
      <h2>Totaal: €{{ getTotalPrice() }}</h2>
    </div>

    <button [routerLink]="['/order']" class="place-order-button">Place Order!</button>
  </div>
</ion-content>
