<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchProducts()" placeholder="Zoek producten"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let product of filteredProducts">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail slot="start">
                <img [src]="product.image">
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-label>
                <h2>{{product.title}}</h2>
                <p>€{{product.price}}</p>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <button (click)="addToCart(product)">Cart</button>
              <button (click)="addToLiked(product)">Like</button>
              <button (click)="navigateToProductDetail(product)">Details</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>