<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="searchProducts()"
      placeholder="Zoek producten"
    />
    <!-- Knop toevoegen om de zoekfunctie te activeren -->
    <button (click)="searchProducts()">Zoek</button>
    <div class="products-container">
      <!-- Verwijder de dubbele *ngFor loop voor 'products' -->
    </div>
    <div *ngFor="let product of filteredProducts" class="product-card">
      <img [src]="product.image" alt="{{product.title}}" class="product-image">
      <h3 class="product-title">{{product.title}}</h3>
      <p class="product-price">€{{product.price}}</p>
      <button (click)="addToCart(product)">Toevoegen aan winkelwagen</button>
      <button (click)="addToLiked(product)">Like</button>
      <button (click)="navigateToProductDetail(product)">Details</button>
    </div>
  </div>
</ion-content>
