<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img [src]="product.image" alt="Product afbeelding">
    <div *ngIf="product" class="product">
      <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>
      <p class="Price">Prijs: {{ product.price | currency }}</p>
      <button fill="outline" (click)="addToCart(product)">Winkelwagen</button>
    </div>
    <div *ngIf="!product">
      <strong>Geen productgegevens gevonden.</strong>
    </div>
  </div>
</ion-content>