<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Roel</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="welkomeMess">
      <h1>
        Welcome to <span class="logoColor">S</span>wift<span class="logoColor"
          >S</span>hop!
      </h1>
      <p class="welkomParagraph">
        At SwiftShop we believe in the power of choice and convenience. Whether
        you are looking for the latest fashion, innovative electronics, stylish
        home accessories, or something completely different, you will find it's
        all here under one roof.
      </p>
    </div>
    <div class="promiseList">
      <ul>
        <li>
          <h3>Extensive Selection:</h3>
          <br />
          Discover thousands of products in various categories, carefully
          selected to meet your needs.
        </li>
        <li>
          <h3>Best prices:</h3>
          <br />
          Enjoy competitive prices and exclusive offers you won't find anywhere
          else.
        </li>
        <li>
          <h3>Top quality:</h3>
          <br />
          We only work with reliable brands and suppliers to guarantee the
          highest quality.
        </li>
        <li>
          <h3>Excellent Customer Service:</h3>
          <br />
          Our friendly and knowledgeable team is always ready to help you.
        </li>
      </ul>
    </div>
    <div class="currentOffers">
      <h2>Current Offers:</h2>
      <span class="grayText"
        >Don't miss our spectacular deals! Here are some of out cuttent
        offers:</span
      >
      <p>
        Up to 50% Off Summer Collection: Get ready for summer with our great
        offers on clothing, shoes and accessories. Electronics Mega Sale: Save
        big on the latest gadgets, from smartphones to laptops. Home Essentials:
        Beautify your home with stylish furniture and decorations at discounted
        prices.
      </p>
    </div>
    <div class="productCategories">
      <h2>Product categories:</h2>
      <span class="grayText"
        >Browse out wide selection of categories to find exactly what you're
        looking for:</span
      >
      <ul>
        <li>
          <h3>Fashion & Accessories:</h3>

          <br />
          <span class="extraInfo">
            From trendy clothing and shoes to stylish accessories.
          </span>
        </li>
        <li>
          <h3>Electronics:</h3>

          <br />
          <span class="extraInfo">
            The latest technology, including smartphones, laptops and
            accessories.
          </span>
        </li>
        <li>
          <h3>Living & Decoration:</h3>

          <br />
          <span class="extraInfo">
            Turn your house into a home with our unique home accessories and
            furniture.
          </span>
        </li>
        <li>
          <h3>Sports & Outdoor:</h3>

          <br />
          <span class="extraInfo">
            Everything you need for an active lifestyle, from sportswear to
            equipment.
          </span>
        </li>
        <li>
          <h3>Health & Beauty:</h3>

          <br />
          <span class="extraInfo">
            Take care of yourself with our selection of beauty products and
            health items. Toys & Children: Fun and educational toys for children
            of all ages.
          </span>
        </li>
      </ul>
    </div>
    <div class="shopMess">
      <h3>Start Shopping:</h3>
      <p>
        Start shopping today and discover why [Name of your ecommerce website]
        is the destination of choice for thousands of satisfied customers. We
        ensure that your shopping experience is as pleasant and hassle-free as
        possible.
      </p>
    </div>
  </div>
</ion-content>
