


#container {
    background: #FFF9F0;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;

    .interTitles {
        grid-column: span 2;
        color: black;
        text-align: center;
    }

    .welkomeMess {
        grid-column: span 2;

        h1 {
            padding-top: 1rem;
            color: black;
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;

            .logoColor {
                color: #24B0BA;
            }
        }

        .welkomParagraph {
            font-size: 1rem;
            font-weight: normal;
            color: black;
            text-align: center;
        }
    }

    .currentOffers {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 2;

        color: black;
        border-radius: 1rem;
        background-color: rgba(44, 42, 42, 0.866);
        width: 90%;
        margin: auto;
        padding: 2rem;

        background-image: url('../../assets/CurrentOffersImg.jpg');
        background-size: cover;
        background-position: center;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(34, 33, 33, 0.5);
            border-radius: 1rem;
            z-index: 1;
        }

        .offersTxt {
            text-align: center;
            grid-column: span 2;
            color: white;
            // font-weight: bold;
            //position: relative;
            z-index: 2;
            // margin: auto;


            button {
                background-color: #24B0BA;
                color: white;
                border: none;
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }

        .offersTxt {
            ul {
                list-style-type: none;
            }
        }

        .offers {
            img {
                height: 50vh;
                border-radius: 1.5rem;
            }
        }
    }

    .promiseList {
        color: black;

        ul {
            list-style-type: none;
        }
    }



    .productCategories {
        color: black;

        ul {
            list-style-type: none;
        }
    }

    .shopMess {
        color: black;
        grid-column: span 2;

    }

    .secondSection {

        h3 {
            font-size: 0.9rem;
            font-weight: bold;
        }

        .promiseList {
            background: white;
            color: #2E4A70;
            border: #73C7E3 1px solid;
            border-radius: 0.2rem;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;

            margin: 1rem;
            padding: 0.5rem;
            gap: 1rem;

            ul {
                padding: 0;
            }


        }

        .productCategories {
            background: white;
            color: #2E4A70;
            border: #73C7E3 1px solid;
            border-radius: 0.2rem;
            // background: #24B0BA;
            // color: #FFF9F0;
            // border: #24B0BA 1px solid;
            // border-radius: 0.2rem;


            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;

            margin: 1rem;
            padding: 0.5rem;
            gap: 1rem;

            ul {
                padding: 0;
            }
        }
    }

    .shopMess {
        text-align: center;
        padding-bottom: 2rem;
        margin: 2rem;

        h3 {
            color: black;
            font-size: 2.5rem;
            font-weight: bold;
        }


        span {
            color: #24B0BA;
        }

        ion-icon {
            color: #24B0BA;
            font-size: 2rem;
        }
    }
    
}