<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="welkomeMess">
      <h1>
        Welcome to <span class="logoColor">S</span>wift<span class="logoColor"
          >S</span
        >hop!
      </h1>
      <p class="welkomParagraph">
        At SwiftShop we believe in the power of choice and convenience. Whether
        you are looking for the latest fashion, innovative electronics, stylish
        home accessories, or something completely different, you will find it's
        all here under one roof.
      </p>
    </div>
    <div class="currentOffers">
      <div class="offersTxt">
        <h3>
          Get the summer collection <br />
          sale op to 50%
        </h3>
        <button routerLink="/products">Shop now!</button>
      </div>
    </div>
    <div class="secondSection">
      <div class="promiseList">
        <div class="partOne">
          <ul>
            <li>
              <h3>Extensive Selection:</h3>
              <br />
              Discover thousands of products in various categories, carefully
              selected to meet your needs.
            </li>
            <li>
              <h3>Best prices:</h3>
              <br />
              Enjoy competitive prices and exclusive offers you won't find
              anywhere else.
            </li>
          </ul>
        </div>
        <div class="partTwo">
          <ul>
            <li>
              <h3>Top quality:</h3>
              <br />
              We only work with reliable brands and suppliers to guarantee the
              highest quality.
            </li>
            <br />
            <li>
              <h3>Excellent Customer Service:</h3>
              Our friendly and knowledgeable team is always ready to help you.
            </li>
          </ul>
        </div>
      </div>

      <div class="productCategories">
        <div class="partOne">
          <ul>
            <li>
              <h3>Fashion & Accessories:</h3>

              <br />
              <span class="extraInfo">
                From trendy clothing and shoes to stylish accessories.
              </span>
            </li>
            <br />
            <li>
              <h3>Electronics:</h3>
              <br />
              <span class="extraInfo">
                The latest technology, including smartphones, laptops and
                accessories.
              </span>
            </li>
          </ul>
        </div>
        <div class="partTwo">
          <ul>
            <li>
              <h3>Living & Decoration:</h3>

              <br />
              <span class="extraInfo">
                Turn your house into a home with our unique home accessories and
                furniture.
              </span>
            </li>
            <li>
              <h3>Sports & Outdoor:</h3>

              <br />
              <span class="extraInfo">
                Everything you need for an active lifestyle, from sportswear to
                equipment.
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="shopMess">
      <h3><span>S</span>tart <span>S</span>hopping!</h3>
      <p>
        Start shopping today and discover why SwiftShop
        is the destination of choice for thousands of satisfied customers. We
        ensure that your shopping experience is as pleasant and hassle-free as
        possible.
      </p>
      <ion-icon routerLink="/products" name="arrow-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
